header {
}

.bouken {
    display: flex;
    justify-content: center;
}

.team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.team-container h1 {
    text-align: center;
}