@use '@/styles/common' as *;

.main {
    width: 100%;
}
.intro {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: min(90%, 900px);
    color: white;
    margin-bottom: 12vw;
    margin-top: 16vw;
    column-gap: 10vw;
    @include sp-tablet {
        flex-direction: column;
        justify-content: center;
    }
    
    .jobun {
        font-family: "Shippori Mincho", serif;
        font-weight: 400;
        font-style: normal;
        justify-content: center;
        @include sp-tablet {
            margin-left: 0;
        }

        h3 {
            margin: 0 auto;           
            margin-bottom: 2vw;
            text-align: center;
            font-size: 28px;
            margin-bottom: 2vw;
            
            @include sp {
                font-size: 20px;
            }
        }
        p {
            line-height: 3cap;
            text-align: center;
            margin-bottom: 4vw;
            @include sp {
                font-size: 15px;
            }
        }
    }

    .sirusi {
        position: absolute;
        right: 10vw;
        bottom: -15%;
        width: min(20vw, 300px);
        object-fit: contain;
        text-align: center;
    }
}

.map {
    margin: 0 auto;
    margin-bottom: min(12vw, 120px);
    width: min(60vw, 700px);
    
    @include sp-tablet {
        width: 90vw;
    }
}

.imade {
    position: fixed;
    z-index: 10;
    bottom: 10%;
    right: 3%;
    width: 350px;
    @include sp-tablet {
        margin: 0 auto;
        width: min(350px, 50%);
    }
    &:hover {
        opacity: 0.7;
    }
}