@use '@/styles/common' as *;

.protocora {
    position: relative;
    width: 100vw;
    height: 160vw; //ここ変えなき
    @include sp-tablet {
        height: 265vw;
    }
    overflow: hidden;
}

.bg {
    margin: 0 auto;
    position: absolute;
    margin-top: 18.6vw;
    width: 100vw;

    background-image: url('/assets/protocora/bg-sp.png');
    background-size: contain;
    background-repeat: no-repeat;
    @include sp-tablet {
        background-color: #fff;
        background-image: url('/assets/protocora/bg-sp.png');
        background-size: cover;
        background-position: center;
        height: 255vw;
    }
}

.mainProtocora {
    position: absolute;
    z-index: 1;
    min-width: 130vw;  
    height: 44vw;
    left: 50%;
    transform: translateX(-50%);
}

.wrapper {
    margin: 19vw auto;
    text-align: center;
    width: min(80%, 1000px);
    height: 120vw;

    @include sp-tablet {
        width: 90vw;
    }

    .ptr_ttl {
        margin: 0 auto;
    }

    .prts {
        place-content: center;
        text-align: center;
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;

        grid-template-columns: 33% 33% 33%;
        @include sp-tablet {
            grid-template-columns: 50% 50%;
        }
    } 

    .modal {
        position: fixed;
        margin: 0 auto;
        width: 100vw;
        height: 100vh;
        background-color: rgba(204, 209, 203, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0%; 
        left: 0%;
        z-index: 3;
        
        .modal_img {
            margin: 0 auto;
            height: 450px;
            @include sp-tablet {
                width: min(400px, 100%);
                object-fit: contain;
            }
        }
    }

}