@use '@/styles/common' as *;

.container {
    position: relative;
    margin: 0 auto;
    padding-top: 50px;
    width: min(90%, 1000px);
    background-size: contain;
    background-repeat: no-repeat;
    

    h1 {
        text-align: center;
        color: white;
        font-family:'Times New Roman', Times, serif; 
        font-size: 50px;
        @include sp {
            font-size: 40px;
        }
    }

    p{
        color: white;
        margin: 0 auto;
        width: 80%;
        margin-top: 4vw;
        @include sp-tablet {
            width: 70vw;
        }
    }

    .characters {
        margin: 0 auto;
        place-content: center;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        color: white;

        @include sp-tablet {
            display: block;
        }

        h3 {
            text-align: center;
            font-size: 30px;
        }

        .character {
            margin-bottom: 20px;
            width: 100%;

            @include sp{
            }
        }
        .sui, .uku, .niim {
            height: 300px;
            background-size: contain;
            background-repeat: no-repeat;
            transform: rotate(90deg);
            background-position: center;
            // transition: 0.5s background-image;

            @include sp-tablet {
            }

            &:hover {
                transform: rotate(0deg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        .sui {
            background-image: url('/assets/characters/sui.png'); 
            &:hover {
                background-image: url('/assets/characters/sui_.png');
            }
        }
        .uku {
            background-image: url('/assets/characters/uku.png'); 
            &:hover {
                background-image: url('/assets/characters/uku_.png');
            }
        }
        .niim {
            background-image: url('/assets/characters/niim.PNG'); 
            &:hover {
                background-image: url('/assets/characters/niim_.png');
            }
        }
    }
}