@use '@/styles/common' as *;

.logo {
    position: fixed;
    z-index: 2;
    @include sp-tablet {
        margin: 0 auto;
        width: min(400px, 70%);
    }
    @include sp {
        top: 0;
        left: 0;
    }
}

.key {
}
.concept {
    margin: 0 auto;
    text-align: center;
    object-fit: cover;

    @include sp-tablet {
        position: absolute;
        min-width: 130vw;  
        height: 130vw;
        left: 50%;
        transform: translateX(-50%);
    }
}

.statement {
    margin: 0 auto;
    @include sp-tablet{
        margin-top: 130vw;
    }
    .content {
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 80%;

        color: #444;

        p {
            margin: 0 auto;
            text-align: center;
            font-size: 14px;
            padding-top: 3vw;
            small {
                color: #888;
                font-size: 12px;
            }
        }
    }
}

.sp_br {
    display: none;
    @include sp {
        display: block;
    }
}