@use '@/styles/common' as *;

.logo {
    position: fixed;
    z-index: 2;
    @include sp-tablet {
        margin: 0 auto;
        width: min(400px, 70%);
    }
    @include sp {
        top: 0;
        left: 0;
    }
}

.key {
    width: 100%;
}
.concept {
    margin: 0 auto;
    text-align: center;
    object-fit: cover;

    @include sp-tablet {
        position: absolute;
        min-width: 130vw;  
        height: 130vw;
        left: 50%;
        transform: translateX(-50%);
    }
}
.center{
    margin: 0 auto;
    opacity: 0.9;
}

.container {
    width: 100%;
    .concept {
        overflow: hidden;
    }
}

.statement {
    margin: 0 auto;
    @include sp-tablet{
        margin-top: 130vw;
    }
    .content {
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 80%;

        color: #444;

        p {
            margin: 0 auto;
            text-align: center;
            font-size: 14px;
            padding-top: 3vw;
            small {
                color: #888;
                font-size: 12px;
            }
        }
    }
}

.sp_br {
    display: none;
    @include sp {
        display: block;
    }
}

.footer {
    position: relative;
    background-image: url("/assets/imade/image_2.png");
    background-size: contain;
    width: 100%;
    height: 71.4vw;
    color: rgb(74, 174, 87); 
    text-align: center;

    .sns {
        display: block;
        margin: 0 auto;
        padding-top: min(200px, 32vw);
        width: 80px;
        transition: 0.5s opacity;

        @include sp-tablet {
            padding-top: min(100px);
            width: 50px;
            transition: 0.5s opacity;
        }
        &:hover {
            opacity: 0.7;
        }
    }

    &_wrapper {
        margin: 0 auto;
        width: max(30%, 150px);
        .logo_ {
            margin: 0 auto;
            padding-top: max(1vw, 10px);
            @include sp {
                padding-top: 5vw;
            }
            &:hover {
                opacity: 0.7;
            }        
        }
    }
}

.wide {
    width: 100%;
}